@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter&display=swap');

/* boiler palatte */
* {
    margin: 0;
    padding: 0;
}

/* navbar section */
nav {
    display: flex;
    align-items: center;
    width: Fixed (1, 439.98px);
    height: Hug (77px);
    padding: 15px 108px 15px 108px;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
}

/* css for left side of nav bar */
.left-nav {
    display: flex;
    align-items: center;
    width: Fixed (1, 439.98px);
    height: Hug (77px);
    padding: 15px 108px 15px 108px;
    justify: space-between;

}

/* css for acciojob logo */
.left-nav img {
    width: 38px;
    height: 38px;
    padding-right: 10px;
}

/* css for word "acciojob" */
.left-nav p {
    font-family: 'Bai Jamjuree', sans-serif;
    color: #012555;
    font-size: 22px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.04em;
    text-align: left;
    width: 90px;
    height: 38px;
    padding-right: 10px;

}

/* css for nsdc div */
.nsdc {
    border-left: 1px solid rgb(218, 216, 216);

}

/* css for nsdc logo */
.nsdc img {
    width: 77px;
    height: 35px;
    padding-left: 20px;

}

.right-nav ul {
    list-style: none;
    width: Hug (630px);
    height: Hug (47px);
    gap: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-nav ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;
    width: Hug (135px);
    height: Hug (45px);
    padding: 10px;
    gap: 8px;
}

.right-nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;
    width: 58px;
    height: 25px;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.right-nav ul li a button {
    width: Hug (108px);
    height: Hug (47px);
    padding: 15px 36px 15px 36px;
    border-radius: 8px;
    border: 2px;
    gap: 10px;
    color: #2F80ED;
    border: 2px solid #2F80ED;
    background-color: transparent;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

/* -------------------------------------------- */

/* announcement time */

.announce {
    width: 100vw;
    height: 60px;
    background-color: #2F80ED;
    position: sticky;
    top: 100px;
}

.announce p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    word-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

/* ----------------------------------------- */

/* hero section */

.hero {
    margin-top: 100px;
  }
  
  .hero>div:nth-child(1) {
    width: 45vw;
    padding-top: 50px;
  }
  
  .hero>div:nth-child(1)>h1:nth-child(1) {
    color: #2b2f34;
    font-family: ABeeZee;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.75px;
    margin-left: 30px;
  }
  
  .hero>div:nth-child(1)>h1:nth-child(2)>span {
    color: #2f80ed;
    font-family: ABeeZee;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.75px;
  }
  
  .hero>div:nth-child(1)>h1:nth-child(2) {
    color: #2b2f34;
    font-family: ABeeZee;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.75px;
    margin-left: 30px;
  }
  
  .hero>div:nth-child(1)>p {
    color: #595959;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.36px;
    margin-left: 30px;
  }
  
  .pic {
    position: relative;

  }
  
  .pic>img:first-child {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 50;
  }
  
  .pic>img:last-child {
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: 10;
  }
  
  .hero>div:nth-child(2) {
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    display: flex;
    padding: 28px 24px 32px 24px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    border-radius: 18px;
    background: #fff;
    box-shadow: 0px 25px 54px 0px rgba(0, 0, 0, 0.12);
  }
  
  .form>h2 {
    width: 291px;
    color: #2b2f34;
    text-align: center;
    font-family: ABeeZee;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.48px;
  }
  
  .form>p {
    width: 278px;
    color: #818d9d;
    text-align: center;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: -30px;
  }
  
  .input-data {
    margin-top: -20px;
    display: flex;
    width: 366px;
    padding: 14px 6px 14px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #fafafa;
  }
  
  .input-data>input {
    border: none;
    background-color: transparent;
  }
  
  .input-data>input:focus {
    outline: none;
  }
  
  .form>button {
    display: flex;
    width: 367px;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(277deg, #992fed 0%, #2f80ed 100%);
    color: #fff;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
  }
  
  .form>button:hover {
    scale: 1.1;
  }
  
  .form>p:last-child {
    margin-top: 3px;
    color: #818d9d;
    text-align: center;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  
  .form>p:last-child>span {
    color: #2f80ed;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  
  /* courses */
  
  .courses-offered {
    display: flex;
    padding: 80px 0px 78px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background: #ecf8ff;
    margin-top: 100px;
  }
  
  .courses-offered>div:first-child>p {
    text-align: center;
    font-family: ABeeZee;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    background: linear-gradient(277deg, #992fed 0%, #2f80ed 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .courses-offered>div:first-child>h1 {
    color: #2f80ed;
    text-align: center;
    font-family: ABeeZee;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.54px;
  }
  
  .card1 {
    max-width: 498px;
    height: 563px;
    border-radius: 9px;
    border: 2px solid #2f80ed;
    background: #fff;
    padding: 10px;
    margin-left: 15px;
  }
  
  .card1>div:first-child>img {
    margin: -60px 0px 0px 20px;
  }
  
  .card1>h1 {
    color: #2b2f34;
    font-family: ABeeZee;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }
  
  .card1>div:nth-child(3)>div {
    display: flex;
    padding: 6px 15px;
    align-items: flex-start;
    gap: 18px;
    border-radius: 7px;
    background: #e0f3ff;
    color: #1d78b0;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
  }
  
  .card1>p {
    color: #565656;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 10px;
  }
  
  .details {
    width: 90%;
  }
  
  .details>div>p:first-child {
    color: #000;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
  }
  
  .details>div>p:last-child {
    color: #2b2f34;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    width: 175px;
  }
  
  .buttons>button:nth-child(1) {
    display: flex;
    width: 203px;
    padding: 14px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2f80ed;
    background: #fff;
    color: #2f80ed;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
  }
  
  .buttons>button:nth-child(2) {
    display: flex;
    width: 210px;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border: none;
    border-radius: 8px;
    background: #2f80ed;
    color: #fff;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    margin-left: 10px;
  }
  
  .card2 {
    max-width: 498px;
    height: 563px;
    border-radius: 9px;
    border: 2px solid #2f80ed;
    background: #fff;
    padding: 30px 10px 10px 10px;
    margin-left: 15px;
  }
  
  .card2>h1 {
    color: #2b2f34;
    font-family: ABeeZee;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }
  
  .card2>div:nth-child(2)>div {
    display: flex;
    padding: 6px 15px;
    align-items: flex-start;
    gap: 18px;
    border-radius: 7px;
    background: #ffeed8;
    color: #965400;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
  }
  
  .card2>p {
    color: #565656;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 10px;
  }
  
  .details {
    width: 90%;
  }
  
  .details>div>p:first-child {
    color: #000;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
  }
  
  .details>div>p:last-child {
    color: #2b2f34;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    width: 175px;
  }
  
  .buttons>button:nth-child(1) {
    display: flex;
    width: 203px;
    padding: 14px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2f80ed;
    background: #fff;
    color: #2f80ed;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
  }
  
  .buttons>button:nth-child(2) {
    display: flex;
    width: 210px;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border: none;
    border-radius: 8px;
    background: #2f80ed;
    color: #fff;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    margin-left: 10px;
  }
  
  .buttons>button:nth-child(1):hover {
    scale: 1.1;
  }
  
  .buttons>button:nth-child(2):hover {
    scale: 1.1;
  }

/* Companies */

.companies {
    width: 100vw;
    height: 794px;

}

.top-title {
    padding-top: 200px;
    align-items: center;
    justify-content: center;

}

.over {
    font-family: ABeeZee;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.08em;
    text-align: center;
    color: blueviolet;

}

.top {
    font-family: ABeeZee;
    font-size: 42px;
    font-style: italic;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #2B2F34;
}

.software {
    font-family: ABeeZee;
    font-size: 42px;
    font-style: italic;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #2F80ED;
}

.lower {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #595959;

}

.row-1 ul {
    padding: 30px 100px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    list-style: none;
}

.row-2 ul {
    padding: 30px 120px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    list-style: none;
}

.row-3 ul {
    padding: 30px 100px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    list-style: none;
}

.button {
    width: Fixed (376px);
    height: Hug (65px);
    margin-left: 775px;
    border-radius: 8px;
    gap: 4px;
    background-color: #2F80ED;
    display: flex;
}

.button p {
    padding: 20px 80px;
    font-family: ABeeZee;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-align: center;
    color: white;

}


/* student section */
.students {
    margin-top: 200px;
    padding: 96px 107px 138px 107px;
  }
  
  .students>h1 {
    color: #2b2f34;
    text-align: center;
    font-family: ABeeZee;
    font-size: 42px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.63px;
  }
  
  .students>p {
    color: #595959;
    text-align: center;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.36px;
  }
  
  .contain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(9, 65px);
    grid-template-areas:
      "a b c"
      "a b c"
      "a b c"
      "a b c"
      "d b c"
      "d b f"
      "d e f"
      "d e f"
      "d e f";
    grid-gap: 5px;
  }
  
  .virat {
    grid-area: a;
    padding: 24px;
    border-radius: 10px;
    border: 2px solid #d7d7d7;
    background: #fff;
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
  }
  
  .profile {
    width: 100%;
    justify-content: space-between;
  }
  
  .profile>img:first-child {
    width: 64px;
    height: 64px;
  }
  
  .profile>img:last-child {
    width: 26px;
    height: 26px;
  }
  
  .profile>div>h4 {
    color: #000;
    font-family: ABeeZee;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
  }
  
  .profile>div>p {
    color: #676767;
    text-align: center;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: normal;
    font-weight: 602;
    line-height: 150%;
  }
  
  .para {
    color: #676767;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  
  .date {
    color: #676767;
    font-family: ABeeZee;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 20px;
  }
  
  .ishan {
    grid-area: b;
    padding: 24px;
    border-radius: 10px;
    border: 2px solid #d7d7d7;
    background: #fff;
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
  }
  
  .sehwag {
    grid-area: c;
    padding: 24px;
    border-radius: 10px;
    border: 2px solid #d7d7d7;
    background: #fff;
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
  }
  
  .rohit {
    grid-area: d;
    padding: 24px;
    border-radius: 10px;
    border: 2px solid #d7d7d7;
    background: #fff;
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
  }
  
  .ahmed {
    grid-area: e;
    padding: 24px;
    border-radius: 10px;
    border: 2px solid #d7d7d7;
    background: #fff;
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
  }
  
  .sachin {
    grid-area: f;
    padding: 24px;
    border-radius: 10px;
    border: 2px solid #d7d7d7;
    background: #fff;
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
  }
  
  /* media queries */
  
  @media screen and (max-width: 1024px) {
    .virat {
      overflow: auto;
    }
  
    .ishan {
      overflow: auto;
    }
  
    .sehwag {
      overflow: auto;
    }
  
    .rohit {
      overflow: auto;
    }
  
    .ahmed {
      overflow: auto;
    }
  
    .sachin {
      overflow: auto;
    }
  
    ::-webkit-scrollbar {
      display: none;
    }
  }
  
  @media screen and (max-width: 991px) {
    .hero {
      flex-direction: column;
      align-items: center;
    }
  
    .hero>div:nth-child(1)>div>img:last-child {
      display: none;
    }
  
    .hero>div:nth-child(2) {
      margin-top: 200px;
    }
  
    .students {
      padding: 0px 0px 0px 0px;
    }
  
    .contain {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 430px) {
    .hero>div:nth-child(1) {
      display: none;
    }
  
    .hero>div:nth-child(2) {
      margin-top: 0px;
    }
  
    .form {
      width: 300px;
    }
  
    .input-data {
      width: 100%;
    }
  
    .form>button {
      width: 100%;
    }
  
    .courses-offered {
      overflow: auto;
    }
  
    .card1 {
      margin-left: 90px;
    }
  
    .card2 {
      margin-left: 90px;
    }
  
    ::-webkit-scrollbar {
      display: none;
    }
  
    .students {
      margin-top: 50px;
    }
  }